<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>HackSAP - Hasiera</title>
	<%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "titles" %>
	<%= stylesheet_link_tag "colours" %>
	<%= stylesheet_link_tag "forms" %>
	<%= stylesheet_link_tag "shapes" %>
	<!--<script type="text/javascript" src="form.js"></script>-->
	<!--<script type="text/javascript" src="ajax.js"></script>-->
</head>
<body>
	<div class="aligncenter wrapper white">
		<br>
		<div class="aligncenter">
			<!--<img src="img/terminus.png" width="175">-->
		</div>
		<span class="h1">Ongi etorri </span><span class="h1 green">Hack</span><span class="h1">SAP!-era</span>
	</div>
	<br>
	<div class="formulario wrapper aligncenter backgroundgreen">
		<% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
	    <%= form_for(:session, url: login_path) do |f| %>
	    	<%= f.label :erab_izena %>
	    	<%= f.text_field :erab_izena, class: 'input', :required => 'required' %><br />
	    	<%= f.label :password %>
	    	<%= f.password_field :password, class: 'input', :required => 'required' %>
	    	<%= f.submit "Sartu", class: "button" %>
	    <% end %>
	    <br />
	    <h5>Erabiltzaile berria? Sortu kontu berri bat <%= link_to "hemen", signup_path %>!</h5>
  	</div>
	<br>
	<div class="aligncenter">
		<!--<img src="img/eurokidetza.png" width="125">-->
	</div>
</body>
</html>