<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "forms" %>
  <%= stylesheet_link_tag "colours" %>
  <%= stylesheet_link_tag "titles" %>
  <%= stylesheet_link_tag "table" %>
  <title>HackSAP - Produktuak</title>
</head>
<body>
<div class = "header backgroundgreen">
  <div id="logo"><span class="black">Hack</span><span class="white">SAP</span></div>
  <div class="navbar">
    <%= link_to "Hasiera", menu_path, method: :delete %>
    <%= link_to "Produktuak", products_path, method: :get%>
    <%= link_to "Irten", logout_path, method: :delete %>
  </div>
</div>
<div class=" wrapper aligncenter white jump">
  <h5><%= link_to "Produktu berria gehitu", products_new_path, method: :get, :class=>"button2" %></h5>
  <br />
  <div class="wrapper aligncenter">
  <span class="h5 white">Produktu baten informazioa bistaratzeko, egin 'click' produktuaren 'Materiala' zutabearen gainean</span>
  </div>
  <br />
  <div class="caption">Produktuak</div>
  <div id="table">
    <div class="header-row row2">
      <span class="cell"></span>
      <span class="cell">Materiala</span>
      <span class="cell">Testua</span>
      <span class="cell">Hornitzailearen erreferentzia</span>
      <span class="cell">Kantitatea</span>
    </div>
    <% all.each do |f|  %>
      <div class = "row">
        <span class="cell"><input type="checkbox" id = <% f.id %>></span>
        <span class="cell"><%= link_to f.material, product_path(f), :class=>"esteka2" %></span>
        <span class="cell"><%= f.text %></span>
        <span class="cell"><%=  f.reference%></span>
        <span class="cell"><%= f.quantity %></span>
      </div>
    <% end %>
</div>
</div>
</body>
</html>