<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>HackSAP - Hasiera</title>
	<%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "titles" %>
	<%= stylesheet_link_tag "colours" %>
	<%= stylesheet_link_tag "form" %>
	<%= stylesheet_link_tag "shapes" %>
	<!--<script type="text/javascript" src="form.js"></script>-->
	<!--<script type="text/javascript" src="ajax.js"></script>-->
</head>
<body>
	<div class="aligncenter wrapper white">
		<br>
		<div class="aligncenter">
			<!--<img src="img/terminus.png" width="175">-->
		</div>
		<span class="h1">Ongi etorri </span><span class="h1 green">Hack</span><span class="h1">SAP!-era</span>
	</div>
	<br>
	<div class="formulario wrapper aligncenter backgroundgreen">
	    <%= form_for(:session, url: "/login") do |f| %>
	    	<%= f.label :email %>
	    	<%= f.email_field :email, class: 'form-control' %>
	    	<%= f.label :password %>
	    	<%= f.password_field :password, class: 'form-control' %>
	    	<%= f.submit "Sartu", class: "btn btn-primary" %>
	    <% end %>
  	</div>
	<br>
	<div id="error" class="errorBox backgroundred wrapper">
	</div>
	<br>
	<div class="aligncenter">
		<!--<img src="img/eurokidetza.png" width="125">-->
	</div>
</body>
</html>
