<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>HackSAP - Erregistratu</title>
	<%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "titles" %>
	<%= stylesheet_link_tag "colours" %>
	<%= stylesheet_link_tag "forms" %>
	<%= stylesheet_link_tag "shapes" %>
	<!--<script type="text/javascript" src="form.js"></script>-->
	<!--<script type="text/javascript" src="ajax.js"></script>-->
</head>
<body>
	<div class="aligncenter wrapper white">
		<br>
		<div class="aligncenter">
			<!--<img src="img/terminus.png" width="175">-->
		</div>
		<span class="h1">Ongi etorri </span><span class="h1 green">Hack</span><span class="h1">SAP!-era</span>
	</div>
	<br>
	<div class="formulario wrapper aligncenter backgroundgreen" style="max-width: 500px">
		<%= form_for(@user, url: signup_path) do |f| %>
    			<% flash.each do |message_type, message| %>
  					<div class="alert alert-<%= message_type %>"><%= message %></div>
				<% end %>
			<%= render 'shared/error_messages' %>
			<table style="width:100%">
				<tr>
					<td width="30%" align="left"><%= f.label :erab_izena %></td>
					<td width="70%"><%= f.text_field :erab_izena, class: 'input'%></td>
				</tr>
				<tr>
					<td width="30%" align="left"><%= f.label :izena %></td>
					<td width="70%"><%= f.text_field :izena, class: 'input' %></td>
				</tr>
				<tr>
					<td width="30%" align="left"><%= f.label :abizena %></td>
					<td width="70%"><%= f.text_field :abizena, class: 'input' %></td>
				</tr>
				<tr>
					<td width="30%" align="left"><%= f.label :pasahitza%></td>
					<td width="70%"><%= f.password_field :pasahitza, class: 'input' %></td>
				</tr>
				<tr>
					<td width="30%" align="left"><%= f.label :pasahitza_confirmation, "Pasahitza balidatu" %></td>
					<td width="70%"><%= f.password_field :pasahitza_confirmation, class: 'input' %></td>
				</tr>
			</table>
      		<%= f.submit "Erregistratu", class: "button" %>
      		<br />
      		<br />
      		<h5><%= link_to "Hasiera", root_path %></h5>
    	<% end %>
  	</div>
	<br>
	<div class="aligncenter wrapper backgroundgreen">
		<!--<img src="img/eurokidetza.png" width="125">-->
	</div>
</body>
</html>
