<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<title>HackSAP - Erregistratu</title>
	<%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "titles" %>
	<%= stylesheet_link_tag "colours" %>
	<%= stylesheet_link_tag "forms" %>
	<%= stylesheet_link_tag "shapes" %>
	<!--<script type="text/javascript" src="form.js"></script>-->
	<!--<script type="text/javascript" src="ajax.js"></script>-->
</head>
<body>
	<div class="aligncenter wrapper white">
		<br>
		<div class="aligncenter">
			<!--<img src="img/terminus.png" width="175">-->
		</div>
		<span class="h1">Ongi etorri </span><span class="h1 green">Hack</span><span class="h1">SAP!-era</span>
	</div>
	<br>
	<div class="formulario wrapper aligncenter backgroundgreen" style="max-width: 500px">
		<%= form_for(@user, url: signup_path) do |f| %>
			<%= render 'shared/error_messages' %>
			<table>
				<tr>
					<th align="left"><%= f.label :erab_izena %></th>
					<th><%= f.text_field :erab_izena, class: 'input'%></th>
				</tr>
				<tr>
					<th align="left"><%= f.label :izena %></th>
					<th><%= f.text_field :izena, class: 'input' %></th>
				</tr>
				<tr>
					<th align="left"><%= f.label :abizena %></th>
					<th><%= f.text_field :abizena, class: 'input' %></th>
				</tr>
				<tr>
					<th align="left"><%= f.label :pasahitza%></th>
					<th><%= f.password_field :pasahitza, class: 'input' %></th>
				</tr>
				<tr>
					<th align="left"><%= f.label :pasahitza_confirmation, "Pasahitza balidatu" %></th>
					<th><%= f.password_field :pasahitza_confirmation, class: 'input' %></th>
				</tr>
			</table>
      		<%= f.submit "Erregistratu", class: "button" %>
      		<br />
      		<br />
      		<h5><%= link_to "Hasiera", root_path %></h5>
    	<% end %>
  	</div>
	<br>
	<div class="aligncenter wrapper backgroundgreen">
		<!--<img src="img/eurokidetza.png" width="125">-->
	</div>
</body>
</html>
