<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<%= stylesheet_link_tag "forms" %>
	<%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "titles" %>
	<%= stylesheet_link_tag "colours" %>
	<title>HackSAP - ERROR!</title>
</head>
<body>
	<br>
	<div class="aligncenter wrapper white">
	<br>
	<br>
	<span class="h4 white">Ez daukazu baimenik hemen egoteko. Mesedez, itzuli <%= link_to "hasierako orrialdera", root_path %></span>
	<br>
</body>
</html>