<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "forms" %>
	<%= stylesheet_link_tag "colours" %>
	<%= stylesheet_link_tag "table" %>
	<%= stylesheet_link_tag "titles" %>
	<title>HackSAP - Laguntza</title>
</head>
<body>
<div class = "header backgroundgreen">
	<div id="logo"><span class="black">Hack</span><span class="white">SAP</span></div>
	<div class="navbar">
		<%= link_to "Hasiera", menu_path %>
    <%= link_to "Bilatu", search_path, method: :get %>
    <%= link_to "Laguntza", help_path, method: :get %>
		<%= link_to "Irten", logout_path, method: :delete %>
	</div>
</div>
<div class="wrapper jump">
	<div class="wrapper aligncenter">
		<span class="h1 white">HackSAP</span>
	</div>
	<br />
	<span class="h5 white">HackSAP Osakidetzako produktuak gehitzeko, antolatzeko eta bilatzeko sistema bat da. SAP-ek eta erizainek hizkuntza desberdina erabiltzen dutenez, azken hauei lana errazteko sortu zen orrialde hau.
  	<br />
  	<br />
  	Hasierako orrialdean sisteman dauden produktu guztiak bistaratuko dira taula batean. 'Materiala' zutabeko testua esteka bat da, produktu horren orrialdera joateko. Horrez gain produktu horrek ezabatzeko eta editatzeko estekak izango ditu. Erabiltzaileak ez badu produktu hori gehitu, ezin izango du ezer egin, ez dituelako ezabatzeko eta editatzeko baimenak.
  	<br />
  	<br />
  	Azkenik, sistemak produktuak bilatzeko aukera bat du. Bilatzaileak produktu baten 4 ataletan bilatuko du erabiltzaileak sartutako testua (materiala, testua, erreferentzia eta kantitatea). Bilatzaileak letra larriak eta letra xeheak desberdintzen ditu.
  	</span>
</div>
</body>
</html>