<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "forms" %>
  <%= stylesheet_link_tag "colours" %>
  <title>HackSAP - Produktua gehitu</title>
</head>
<body>
<div class = "header backgroundgreen">
  <div id="logo"><span class="black">Hack</span><span class="white">SAP</span></div>
  <div class="navbar">
    <%= link_to "Hasiera", menu_path, method: :delete %>
    <%= link_to "Bilatu", search_path, method: :get %>
    <%= link_to "Irten", logout_path, method: :delete %>
  </div>
</div>
<div class=" wrapper white jump">
</div>

<div class="formulario wrapper aligncenter backgroundgreen" style="max-width: 500px">
  <%= form_for(@produktua, url: produktuas_new_path) do |f| %>
      <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= render 'shared/error_messages_product' %>
      <table style="width:100%">
        <tr>
          <td width="30%" align="left"><%= f.label :Materiala %></td>
          <td width="70%"><%= f.text_field :materiala, class: 'input'%></td>
        </tr>
        <tr>
          <td width="30%" align="left"><%= f.label :Testua %></td>
          <td width="70%"><%= f.text_field :testua, class: 'input' %></td>
        </tr>
        <tr>
          <td width="30%" align="left"><%= f.label :Erreferentzia %></td>
          <td width="70%"><%= f.text_field :erreferentzia, class: 'input' %></td>
        </tr>
        <tr>
          <td width="30%" align="left"><%= f.label :Kantitatea%></td>
          <td width="70%"><%= f.text_field :kantitatea, class: 'input' %></td>
        </tr>
      </table>
      <%= f.submit "Produktua Gehitu", class: "button" %>
      <br />
      <br />
  <% end %>
</div>
</body>
</html>