<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<%= stylesheet_link_tag "style" %>
	<%= stylesheet_link_tag "forms" %>
	<%= stylesheet_link_tag "colours" %>
	<%= stylesheet_link_tag "table" %>
	<title>HackSAP - Bilatu</title>
</head>
<body>
<div class = "header backgroundgreen">
	<div id="logo"><span class="black">Hack</span><span class="white">SAP</span></div>
	<div class="navbar">
		<%= link_to "Hasiera", menu_path, method: :delete %>
		<%= link_to "Bilatu", search_path, method: :get %>
    <%= link_to "Laguntza", help_path, method: :get %>
    <%= link_to "Irten", logout_path, method: :delete %>
	</div>
</div>
<div class="wrapper aligncenter jump" >
<%= form_tag bilatu_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search], :class=>"input" %>
<% end %>
<% if @produktua.present? %>
<div class="caption">Produktuak</div>
  <table class="table">
    <tr class="tr">
      <th class="th">Materiala</th>
      <th class="th">Testua</th>
      <th class="th">Hornitzailearen erreferentzia</th>
      <th class="th">Kantitatea</th>
      <th class="th"></th>
      <th class="th"></th>
    </tr>
    <% @produktua.each do |f|  %>
      <tr class="tr">
        <td class="td"><%= link_to f.materiala, produktua_path(f), :class=>"esteka2" %></td>
        <td class="td"><%= f.testua %></td>
        <td class="td"><%=  f.erreferentzia%></td>
        <td class="td"><%= f.kantitatea %></td>
        <% if f.user_id == current_user.id %>
          <td class="td"><%= link_to "Editatu", edit_produktua_path(f), :class=>"esteka2" %></td>
          <td class="td"><%= link_to "Ezabatu", del_prod_path(f.id), :class =>"esteka2" %></td>
        <% else %>
          <td class="td">Editatu</td>
          <td class="td">Ezabatu</td>
        <% end %>
      </tr>
    <% end %>
</table>
<% else %>
	<div class="wrapper aligncenter white">
	<h5>Ez dago produkturik datu horiekin. Mesedez, saiatu berriro</h5>
</div>
<% end %>
</div>
</body>
</html>