<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "forms" %>
  <%= stylesheet_link_tag "colours" %>
  <%= stylesheet_link_tag "titles" %>
  <%= stylesheet_link_tag "table" %>
  <title>HackSAP - Produktuak</title>
</head>
<body>
<div class = "header backgroundgreen">
  <div id="logo"><span class="black">Hack</span><span class="white">SAP</span></div>
  <div class="navbar">
    <%= link_to "Hasiera", menu_path, method: :delete %>
    <%= link_to "Bilatu", search_path, method: :get %>
    <%= link_to "Laguntza", help_path, method: :get %>
    <%= link_to "Irten", logout_path, method: :delete %>
  </div>
</div>
<div class="wrapper aligncenter white jump">
	<span class="h1"><%= @produktua.materiala %></span>
</div>
<br />
<div class="formulario wrapper aligncenter backgroundgreen" style="max-width: 1000px">
  <table style="width:100%">
    <tr>
      <td width="30%" align="left">Materiala</td>
      <td width="70%" align="left"><%= @produktua.materiala%></td>
    </tr>
    <tr>
      <td width="30%" align="left">Testua</td>
      <td width="70%" align="left"><%= @produktua.testua %></td>
    </tr>
    <tr>
      <td width="30%" align="left">Hornitzailearen erreferentzia</td>
      <td width="70%" align="left"><%= @produktua.erreferentzia %></td>
    </tr>
    <tr>
      <td width="30%" align="left">Kantitatea</td>
      <td width="70%" align="left"><%= @produktua.kantitatea %></td>
    </tr>
  </table>
</div>
<br />
<% if @produktua.user_id == current_user.id %>
<div class="wrapper aligncenter white">
  <%= link_to "Editatu", edit_produktua_path(@produktua.id), :class=>"button2" %>
  <%= link_to "Ezabatu", del_prod_path(@produktua.id), :class =>"button2" %>
</div>
<% end %>
</body>
</html>
