<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <%= stylesheet_link_tag "style" %>
  <%= stylesheet_link_tag "forms" %>
  <%= stylesheet_link_tag "colours" %>
  <title>HackSAP - Menu</title>
</head>
<body>
<div class = "header backgroundgreen">
  <div id="logo"><span class="black">Hack</span><span class="white">SAP</span></div>
  <div class="navbar">
    <%= link_to "Hasiera", menu_path, method: :delete %>
    <a href="">Produktuak</a>
    <%= link_to "Irten", logout_path, method: :delete %>
  </div>
</div>
<div class=" wrapper white jump">
  <span class="h1">Kaixo <%= current_user.izena %>!</span>
</div>

</body>
</html>