<div class="row" id="product-<%= product.id %>">
  <input type="checkbox">
  <span class="cell"><%= product.material %></span>
  <span class="cell"><%= product.text %></span>
  <span class="cell"><%= product.reference %></span>
  <span class="cell"><%= product.quantity %></span>
</div>